@import './components/audiostrip.scss';
@import './Vendor/react-slick.css';
@import './Vendor/react-slick-theme.css';

/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  background-color: #8cc5cc;
  background-image: linear-gradient(141deg, #69bfbf 0%, #99b6b9 51%, #608796 75%);
}


.Logo{
  height: 100%;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }



.header {
  &_search {
    width: 30%;
    margin: auto;
  }
} 


/* CSS fro Homapage Category */
.home{
  &__category{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 100%;
    &__playlist{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.playListPage{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  &__title{
    display: flex;
    padding-top: 2rem;
    align-items: center;
    &__image {
      img {
        width: 15rem;
        height: 16rem;
      }
      margin-right: 2rem;
    }
  }
  &__tracks {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    &__item {
      display: flex;
      align-items: center;
      padding: 0.3rem;
      &:hover {
        background-color: #70949f42;
        cursor: pointer;
      }
      &__name {
        margin-left: 4rem;
        width: 30rem;
        font-weight: 600;
      }
    }
  }
}